@media (max-width:1200px) {
    .tag_list {
        margin-top: 15px;
    }
    .article {
        border-bottom: 4px solid #eeeeee;
        padding-bottom: 20px;
        flex-direction: column;
    }
    .article_img {
        margin-right: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .header {
        background: #000 url(../img/bg/banner-bg.jpg) center center/ cover no-repeat;
        min-width: 1200px;
    }
    .hamburger {
        display: none
    }
}

@media (min-width: 768px) and (max-width:1200px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
        max-width: 768px;
    }
    .header_container_tittle {
        width: 620px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .header_container_tittle {
        width: 580px;
    }
    .hamburger {
        display: block;
        position: absolute;
        z-index: 1;
        right: 35px;
        top: 52px;
        transform: translateY(-50%);
        width: 23px;
        height: 20px;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 4px;
        background-color: white;
        transition: 0.5s all;
    }
    .hamburger_active span {
        margin-bottom: -4px;
    }
    .hamburger_active span:nth-child(1) {
        transform: translateY(6px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: translateY(6px) rotate(45deg);
    }
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .8);
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 0;
        transition: 0.6s all;
        z-index: 999;
    }
    .menu_active {
        left: 0;
    }
    .menu_item:nth-child(n+2) {
        margin-left: 0;
    }
}

@media (min-width: 641px) and (max-width:1200px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    .wrapper {
        margin-top: 50px;
    }
    .header {
        background: #000 url(../img/bg/banner-bg-tablet.jpg) center center/ cover no-repeat;
        padding: 43px 0 124px 0;
        min-width: 641px;
    }
    .header_title {
        font-size: 40px;
        line-height: 55px;
    }
    .article {
        margin-top: 41px;
    }
    .article_content {
        margin-top: 33px;
    }
    .article:last-child {
        border: none;
        padding-bottom: 0;
    }
    .article_list {
        width: 56%;
    }
    .trend_items {
        flex-wrap: wrap;
    }
    .trend_item {
        flex: 0 1 49.8%;
        padding: 0 20px 15px 20px;
        margin-right: 0;
        min-height: 274px;
    }
    .trend_item:nth-child(odd) {
        margin-right: 0.4%;
    }
    .trend_item:nth-child(n+3) {
        margin-top: 0.4%;
    }
    .shop_items {
        flex-wrap: wrap;
    }
    .shop_item {
        flex: 0 1 48.5%
    }
    .shop_item:nth-child(n+3) {
        margin-top: 28px;
    }
    .sidebar {
        width: 39%;
    }
}

@media (max-width: 641px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .logo {
        width: 100%;
        margin: 0 auto;
    }
    .wrapper {
        margin-top: 43px;
    }
    .header {
        background: #000 url(../img/bg/banner-mobile.jpg) center center/ cover no-repeat;
        padding: 225px 0 219px 0;
        width: 100%;
    }
    .header_container_tittle {
        width: 280px;
    }
    .header_title {
        font-size: 26px;
        line-height: 36px;
    }
    .trent {
        padding-top: 40px;
    }
    .trend_items {
        display: block;
    }
    .trend_item {
        min-height: 233px;
    }
    .trend_item:nth-child(n+1) {
        margin: 2px 0 0 0;
    }
    .trend_wrapper {
        margin-top: 65px;
        padding: 20px 30px;
    }
    .article {
        margin-top: 34px;
    }
    .article_title {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .article_title_white {
        margin-bottom: 0px;
    }
    .article_list {
        width: 100%;
    }
    .article_content {
        margin-top: 20px;
    }
    .sidebar {
        width: 100%;
        margin-top: 44px;
    }
    .shop_items {
        display: block;
        max-width: 331px;
        margin: 0 auto;
    }
    .shop_item:nth-child(n+1) {
        margin-top: 23px;
    }
    .search_button {
        padding: 0 24px;
    }
    .search label {
        width: 100%;
    }
}